<div class="container-fluid bg-light mb-4">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Simple header</span>
        </a>
        <nav>
            <a *ngIf="!this.storage.isLoggedIn()" class="p-2 text-dark text-decoration-none" routerLinkActive="active" routerLink="/login">Login</a>
            <a *ngIf="!this.storage.isLoggedIn()" class="p-2 text-dark text-decoration-none" routerLinkActive="active" routerLink="/signup">Register</a>
            <a *ngIf="this.storage.isLoggedIn()"  class="p-2 text-dark text-decoration-none" routerLinkActive="active">{{this.storage.getUser().name}}</a>
            <a *ngIf="this.storage.isLoggedIn()"  class="p-2 text-dark text-decoration-none" routerLinkActive="active" (click)="logout()" type="button">Logout</a>
        </nav>
       
        
    </header>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>